
*{
    box-sizing: border-box;
    z-index: 2;
}
*:after{
    clear:both; 
}

html{
    height:100%; 

}

body{
    min-height: 100%;
    overflow-x: hidden;
    background-image: url("images/webbg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    position:relative;
    transition: 2s background-image;
    z-index: 0;
}

#overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    transition: 1s background-image;
    pointer-events: none;
}

.section{
    margin-bottom: 5%;
}



.navbar a{
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.navbar li{
    text-transform: uppercase;
}

.navbar li{
    transition: border 0.5s;
}
.navbar li:hover{
    border:2px solid rgb(14, 148, 238);
    background-color: rgb(83, 83, 83);
}

.navbar li:hover a{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}


#meinfo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#meimg{
    min-width: 40%;
    /* min-width: 150px; */
    height: auto;
    border-radius: 50%;
    /* margin-top: 30vh; */
    transition: 2s border-radius;
    margin-bottom: 3vh;
}

#meimg:hover{
    border-radius: 20%;  
}

#meimg:hover #name-text{
    font-size: 1.2em;
    color:royalblue;
}


#name-text{
    color:white;
    transition: 1s letter-spacing;
}

#name-text:hover{
    letter-spacing: 0.3em;
    color:royalblue;
}

#home{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.subsection a{
    text-decoration:none;
    color: royalblue;
}

#education:hover p{
    font-weight:bolder;
}



#schools img{
    width: 100%;
    height: auto;
    opacity: 0.7;
    transition: opacity 1s, border 1s;
}

#schools img:hover{
    opacity: 1;
    border: 2px solid white;
}

#schools p{
    color: white;
    font-family: 'Alegreya Sans';
    font-size: 1.5em;
}
#schools .school{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.medicine-interest{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    border: 3px solid rgb(130, 149, 207);
    padding: 5px;

}

#medinfo{
    font-family: 'Alegreya Sans';
    font-size: 1.5em;
    padding-right: 5px;
}



#experiences img{
    width: 100%;
    height: auto;
}

/* #experiences p{
    color:white;
    font-family: 'Alegreya Sans';
    font-size: 1.5em;
} */

#researchinfo{
    color:white;
    font-family: 'Alegreya Sans';
    font-size: 1.5em;
}

.research-studies{
    display:flex;
    align-items:center;
    padding:0;
    width:100%;
    height: 30vw;
    overflow-x:scroll;
}

/* .research-studies.study{
    width: 40vw;
    margin: 5%;
    min-width: 260px;
    background-color: black;
    color: rgb(184, 184, 184);
    height: 100%;
} */

.study{
    width: 30vw;
    margin: 2%;
    min-width: 260px;
    background-color: black;
    color: rgb(184, 184, 184);
    height: 100%;
}

.study img{
    width: 80%;
    height: 30vh;
    
}

.study p{
    font-family: 'Ubuntu';
    font-size: 0.8em;
}

.study a{
    color:white;
}

.study:hover{
    background-color: rgb(83, 83, 83);
    font-size: 108%;
    color: #ffffff;
}

#hninfo{
    color:white;
    font-family: 'Alegreya Sans';
    font-size: 1.5em;
}

#karateinfo{
    color:white;
    font-family: 'Alegreya Sans';
    font-size: 1.2em;
    
}

#experiences .experience{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#resume{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#interests p{
    color:white;
    font-family: 'Alegreya Sans';
    font-size: 1.5em;
}

#interests img{
    width: 100%;
    height: auto;
}

h1{
    color:white;
    font-family: 'Volkorn';
    text-transform: uppercase;
}

h2{
    text-transform: uppercase;
    color: white;
    
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
    font-size: 300%;
    color: rgb(39, 124, 236);
    font-family: 'Ubuntu';

}


h3{
    color:white;
    text-transform: uppercase;
    text-align: center;
}

h5{
    color:white;
    text-align: center;
    font-family: 'Ubuntu';
}

#favbooks{
    display: flex;
    flex-direction: column;
}

#favbooks li{
    color:white;
    font-family: 'Ubuntu';
}

#favbooks p{
    font-size: 0.8em;
    color: rgb(85, 133, 236);
}

.social-icons{
    width: 100%;
    text-align:center;
}

.social-icon{
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

i:hover{
    font-size:250%;
    color: royalblue;
}

i{
    transition: font-size 1s;
}

#contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
    font-size: 1.5em;
    padding-bottom: 10%;
}

.contact-text{
    color:white;
    margin-bottom: 2%;
    text-align:center;
    width: 40%;
    font-family: 'Ubuntu';
}

.contact-text a{
    text-decoration: none;
    color: royalblue;
    font-family: 'Ubuntu';
}

.card-deck{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-deck img{
    height: 30%;
}

/* trying slideshow stuff */
.slideshow-container {
    width: 50%;
    position: relative;
    margin: auto;
    height: 50%;
  }


  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.0s;
    animation-name: fade;
    animation-duration: 2.0s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .carousel-item img{
      margin: auto;
      width: 100%;
      height: 100%;
  }

  #carouselExampleIndicators{
      width: 50%;
      margin-left: 25%;
  }

